.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .border {
    border-top: 1px solid #e3e1e1;
  }
  
  /* FONT utility classes */
  .sans {
    font-family: var(--kumbh);
  }
  .serif {
    font-family: var(--slab);
  }
  .mono {
    font-family: var(--space);
  }
  
  /* COLOR utility classes */
  .redOrange {
    background-color: var(--redOrange) !important;
  }
  
  .aqua {
    background-color: var(--aqua) !important;
  }
  
  .magenta {
    background-color: var(--magenta) !important;
  }
  